@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars during full screen animations */
}
